target/
classes/
tools/eclipse/plugins/org.scribble.*/bin/
*.jar
.classpath
.project
.checkstyle
.settings/
.DS_Store
*~
*.swp
modules/validation/src/main/java/test/http/Http_*
modules/validation/src/main/java/test/fib/Adder_*
