<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.scribble.wizard.category.ID"
      name="Scribble">
    </category>
    <wizard
      id = "org.scribble.designer.editor.NewProtocolWizardID"
      name = "Protocol"
      class = "org.scribble.designer.editor.NewProtocolWizard"
      category = "org.scribble.wizard.category.ID"
      icon = "icons/scribble.png">
      <description>New Scribble Protocol Description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Scribble Protocol Editor"
            icon="icons/scribble.png"
            extensions="scr"
            contributorClass="org.scribble.designer.editor.ScribbleActionContributor"
            class="org.scribble.designer.editor.ProtocolEditor"
            id="org.scribble.designer.editor.ProtocolEditor">
      </editor>
   </extension>

   <extension
         id="ExampleJavaDocumentSetupParticipant"
         name="%documentSetupParticipantName"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="scr"
            class="org.scribble.designer.editor.ScribbleDocumentSetupParticipant">
      </participant>
   </extension>

  <extension
        id="org.scribble.ScribbleProblem"
        name="Protocol Problem"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.core.resources.problemmarker">
     </super>
     <persistent
           value="true">
     </persistent>
  </extension>

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.scribble.designer.preferences.ScribblePreferencePage"
           id="org.scribble.designer.preferences.ScribblePreferencePage"
           name="Scribble">
     </page>
     <page
           category="org.scribble.designer.preferences.ScribblePreferencePage"
           class="org.scribble.designer.preferences.AnalysisPreferencePage"
           id="org.scribble.designer.preferences.AnalysisPreferencePage"
           name="Analysis">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.scribble.designer.preferences.PreferenceInitializer">
     </initializer>
  </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.scribble.designer.contribution1"
            nameFilter="*.scr" >
         <menu
               label="Scribble"
               path="additions"
               id="org.scribble.tools.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Project"
               class="org.scribble.designer.actions.ProjectionAction"
               menubarPath="org.scribble.tools.menu/group1"
               enablesFor="1"
               id="org.scribble.designer.actions.ProjectionAction">
         </action>
         <!--
         <action
               label="Simulate"
               class="org.scribble.designer.actions.SimulateAction"
               menubarPath="org.scribble.tools.menu/group1"
               enablesFor="1"
               id="org.scribble.designer.actions.SimulateAction">
         </action>
         -->
      </objectContribution>
   </extension>

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
       id="org.scribble.designer.simulation.SimulationLauncher"
       delegate="org.scribble.designer.simulation.SimulationLauncher"
       modes="run"
       name="Trace Simulation">
      <fileExtension extension="trace" default="true"/>
    </launchConfigurationType>
  </extension>
  
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
  	<launchConfigurationTabGroup
  		id="org.scribble.designer.simulation.SimulationTabGroup"
  		type="org.scribble.designer.simulation.SimulationLauncher"
  		class="org.scribble.designer.simulation.SimulationTabGroup"
  		/>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabs">
     <tab
     	id="org.scribble.designer.simulation.SimulationMainTab"
     	group="org.scribble.designer.simulation.SimulationTabGroup"
     	name="Simulation"
     	class="org.scribble.designer.simulation.SimulationMainTab"
     	/>
  </extension>
  
  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
           class="org.scribble.designer.simulation.SimulationLauncherShortcut"
           id="org.scribble.designer.simulation.SimulationLauncherShortcut"
           label="Simulation"
           modes="run">
       <contextualLaunch>
         <enablement>
           <with variable="selection">
             <count value="1"/>
             <iterate>
             	<or>
                <adapt type="org.eclipse.core.resources.IFile">
					<and>
                		<test property="org.eclipse.core.resources.name" value="*.trace"/>
            		</and>
                </adapt>
                <adapt type="org.eclipse.core.resources.IFolder"/>
                <adapt type="org.eclipse.core.resources.IProject"/>
                </or>
             </iterate>
           </with>
         </enablement>
       </contextualLaunch>
       <configurationType
              id="org.scribble.designer.simulation.SimulationLauncher">
       </configurationType>
    </shortcut>
  </extension>

</plugin>
