grant codeBase "file:/C:/cygwin64/home/rhu/code/eclipse/scribble/github.com/rhu1/scribble-java/scribble-core/target/classes/" {
    permission java.security.AllPermission;
};
