<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.scribble.wizard.category.ID"
      name="Scribble">
    </category>
    <wizard
      id = "org.scribble.editor.trace.ui.NewTraceWizardID"
      name = "Trace"
      class = "org.scribble.editor.trace.ui.NewTraceWizard"
      category = "org.scribble.wizard.category.ID"
      icon = "icons/scribble.png">
      <description>New Scribble Trace</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

</plugin>
