<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.scribble.org/trace/editor/dsl/ScribbleTraceDsl" 
       class = "org.scribble.trace.editor.dsl.scribbleTraceDsl.ScribbleTraceDslPackage"
       genModel = "model/generated/ScribbleTraceDsl.genmodel" /> 
	
  </extension>



</plugin>
